settings.ini
characters.db
gui/__pycache__/charactermanager.cpython-37.pyc
gui/__pycache__/databasecomm.cpython-37.pyc
gui/__pycache__/gui_components.cpython-37.pyc
gui/__pycache__/scraper.cpython-37.pyc
gui/__pycache__/settings.cpython-37.pyc
