settings.ini
characters.db
CharactersForRec
gui/gui_componets/modal_view/__pycache__
gui/gui_componets/selectable_label/__pycache__
database/__pycache__
common/__pycache__
gui/gui_componets/__pycache__
gui/__pycache__
settings/__pycache__
web_scraper/__pycache__